[Unit]
Description=uWSGI instance to serve imgsrv
After=network.target

[Service]
User=paws
Group=nginx
WorkingDirectory=/var/www/html/imgsrv
ExecStart=/usr/bin/uwsgi --ini /var/www/html/imgsrv/imgsrv.ini

[Install]
WantedBy=multi-user.target